<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>20240601中国空气质量</title>

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        #map {
            height: 100%;
            width: 100%;
        }
        h1 {
            text-align: center; 
            font-size: 36px;    
            color: #4CAF50;     
            margin-top: 20px;   
            font-family: Arial, sans-serif; 
            background-color: #f4f4f4; 
            padding: 10px;      
            border-radius: 10px; 
        }
        #popupContainer {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 16.67%; /* 1/6 of the page width */
            height: 100%;
            background-color: white;
            border-left: 1px solid #ccc;
            box-shadow: -2px 0 5px rgba(0,0,0,0.5);
            z-index: 1000;
            overflow: auto;
        }
        #popupClose {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            font-size: 24px;
        }
        #popupIframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>

<script src="d3.v3.min.js"></script>
<h1>Station Map</h1>
<div id="map"></div>

<div id="popupContainer">
    <span id="popupClose">&times;</span>
    <iframe id="popupIframe"></iframe>
</div>

<script>
    const map = L.map('map').setView([31.613245, 111.262859], 7);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const popup = L.popup();

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent(`此处经纬度为： ${e.latlng.toString()}`)
            .openOn(map);
    }

    map.on('click', onMapClick);

    d3.json("../站点列表.json", function(data) {
        console.log(data);
        var length = data.length;
        console.log(length);
        d3.json("../china_sites_20240601.json", function(air_quality) {
            for (var i = 0; i < length; i++) {
                var latitude = parseFloat(data[i].Column5);
                var longitude = parseFloat(data[i].Column4);
                var num = data[i].Column1;
                var name = data[i].Column2;
                var city = data[i].Column3;
                console.log(num);
                var AQI = 0.0;
                var PM25 = 0.0;
                var PM10 = 0.0;
                var SO2 = 0.0;
                var NO2 = 0.0;
                var O3 = 0.0;
                var CO = 0.0;
                var time = 0;
                for (var j = 0; j < 24; j++) { //计算该日平均AQI
                    if (parseFloat(air_quality[j * 15 + 0][num])) {
                        AQI = AQI + parseFloat(air_quality[j * 15 + 0][num]);
                        time++;
                    }
                }
                if (time != 0) {
                    AQI = AQI / time;
                }
                time = 0;
                if (air_quality[15 * 23 + 2][num]) { //计算该日平均PM2.5
                    PM25 = parseFloat(air_quality[15 * 23 + 2][num]);
                } else {
                    for (var j = 0; j < 24; j++) {
                        if (parseFloat(air_quality[j * 15 + 1][num])) {
                            PM25 = PM25 + parseFloat(air_quality[j * 15 + 1][num]);
                            time++;
                        }
                    }
                    if (time != 0) {
                        PM25 = PM25 / time;
                    }
                }
                time = 0;
                if (air_quality[15 * 23 + 4][num]) { //计算该日平均PM10
                    PM10 = parseFloat(air_quality[15 * 23 + 4][num]);
                } else {
                    for (var j = 0; j < 24; j++) {
                        if (parseFloat(air_quality[j * 15 + 3][num])) {
                            PM10 = PM10 + parseFloat(air_quality[j * 15 + 3][num]);
                            time++;
                        }
                    }
                    if (time != 0) {
                        PM10 = PM10 / time;
                    }
                }
                time = 0;
                if (air_quality[15 * 23 + 6][num]) { //计算该日平均SO2
                    SO2 = parseFloat(air_quality[15 * 23 + 6][num]);
                } else {
                    for (var j = 0; j < 24; j++) {
                        if (parseFloat(air_quality[j * 15 + 5][num])) {
                            SO2 = SO2 + parseFloat(air_quality[j * 15 + 5][num]);
                            time++;
                        }
                    }
                    if (time != 0) {
                        SO2 = SO2 / time;
                    }
                }
                time = 0;
                if (air_quality[15 * 23 + 8][num]) { //计算该日平均NO2
                    NO2 = parseFloat(air_quality[15 * 23 + 8][num]);
                } else {
                    for (var j = 0; j < 24; j++) {
                        if (parseFloat(air_quality[j * 15 + 7][num])) {
                            NO2 = NO2 + parseFloat(air_quality[j * 15 + 7][num]);
                            time++;
                        }
                    }
                    if (time != 0) {
                        NO2 = NO2 / time;
                    }
                }
                time = 0;
                if (air_quality[15 * 23 + 10][num]) { //计算该日平均O3
                    O3 = parseFloat(air_quality[15 * 23 + 10][num]);
                } else {
                    for (var j = 0; j < 24; j++) {
                        if (parseFloat(air_quality[j * 15 + 9][num])) {
                            O3 = O3 + parseFloat(air_quality[j * 15 + 9][num]);
                            time++;
                        }
                    }
                    if (time != 0) {
                        O3 = O3 / time;
                    }
                }
                time = 0;
                if (air_quality[15 * 23 + 14][num]) { //计算该日平均CO
                    CO = parseFloat(air_quality[15 * 23 + 14][num]);
                } else {
                    for (var j = 0; j < 24; j++) {
                        if (parseFloat(air_quality[j * 15 + 13][num])) {
                            CO = CO + parseFloat(air_quality[j * 15 + 13][num]);
                            time++;
                        }
                    }
                    if (time != 0) {
                        CO = CO / time;
                    }
                }
                if (latitude && longitude) {
                    console.log("经度：" + longitude + "，纬度：" + latitude);
                    const marker = L.marker([latitude, longitude]).addTo(map).bindPopup(
                        "监测点编号：" + num +
                        "<br>监测点名称：" + name +
                        "<br>城市：" + city +
                        "<br>AQI:" + AQI.toFixed(2) +
                        "<br>PM2.5:" + PM25.toFixed(2) +
                        "<br>PM10:" + PM10.toFixed(2) +
                        "<br>SO2:" + SO2.toFixed(2) +
                        "<br>NO2:" + NO2.toFixed(2) +
                        "<br>O3:" + O3.toFixed(2) +
                        "<br>CO:" + CO.toFixed(2)
                    );

                    marker.on('click', () => {
                        document.getElementById('popupContainer').style.display = 'block';
                        document.getElementById('popupIframe').src ='airnew.html?site=' + num;
                    });
                } else {
                    console.log("经纬度数据缺失");
                }
            }
        });
    });

    document.getElementById('popupClose').addEventListener('click', () => {
        document.getElementById('popupContainer').style.display = 'none';
        document.getElementById('popupIframe').src = '';
    });
</script>

</body>
</html>
